git+https://github.com/pyrogram/pyrogram@master
tgcrypto
youtube-search
youtube_search_python
py-tgcalls
python-dotenv
requests
aiohttp
aiofiles
asyncio
youtube_dl
ffmpeg-python
pillow
wget
future
psutil
python-arq
